@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Pretendard Variable', Pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Pretendard Variable', Pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* 버튼 스타일 */
button {
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 0.6em 4em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Pretendard Variable', Pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #000000;
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5), 0px 0px 16px rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.3s ease;
}

button:hover {
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6), 0px 0px 24px rgba(255, 255, 255, 0.4);
}


/* 메시지창 */
.message-box {
  background-color: #2d2d2d;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.4), 0px 0px 12px rgba(255, 255, 255, 0.3);
  padding: 2em;
  color: white;
}

/* 호버 효과 추가 */
.message-box:hover {
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6), 0px 0px 24px rgba(255, 255, 255, 0.4)
}

/* 사용자 정의 스타일 */
.text01-custom {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 5rem;
  color: #ffffff;
}

.text02-custom {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #ffffff;
}

.text03-custom {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
}


